:root {
  --gray-00: #050505;
  --gray-05: #0e0f0f;
  --gray-10: #18191a;
  --gray-15: #242526;
  --gray-20: #323436;
  --gray-25: #3e4042;
  --gray-30: #4b4c4f;
  --gray-35: #56585c;
  --gray-40: #65676b;
  --gray-45: #6e7175;
  --gray-50: #7a7d82;
  --gray-55: #8a8d91;
  --gray-60: #96999e;
  --gray-65: #a4a7ab;
  --gray-70: #b0b3b8;
  --gray-75: #bcc0c4;
  --gray-80: #c9ccd1;
  --gray-90: #e4e6eb;
  --gray-95: #f0f2f5;
  --gray-100: #f7f8fa; }

@font-face {
  font-family: "palash";
  src: url("../font/TypeType_TTSquares_Regular_0.woff") format("woff"); }

@font-face {
  font-family: "palash";
  src: url("../font/TypeType_TTSquares_Bold.woff") format("woff");
  font-weight: bold; }

@font-face {
  font-family: "palash";
  src: url("../font/TypeType_TTSquares_Light.woff") format("woff");
  font-weight: light; }

* {
  margin: 0;
  padding: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-family: "palash"; }

main {
  background-color: #f6fbff;
  display: flex;
  flex-direction: column;
  align-items: center; }
  main section {
    margin: 0 auto; }

@media (min-width: 1140px) {
  html {
    font: 10px; } }

.detail_section {
  margin: 1rem;
  background-repeat: no-repeat;
  color: #555555;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  justify-content: center; }

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f6fbff;
  min-width: 280px;
  height: 300px;
  border-radius: 5px; }

.card .percent {
  position: relative; }

.card svg {
  position: relative;
  width: 230px;
  height: 210px;
  transform: rotate(-90deg); }

.card svg circle {
  width: 80%;
  height: 80%;
  fill: none;
  stroke: var(--gray-90);
  stroke-width: 2;
  stroke-linecap: round; }

.card svg circle:last-of-type {
  stroke-dasharray: 625px;
  stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
  stroke: #3498db; }

.card .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.card .number p {
  font-weight: 200;
  font-size: 1rem; }

.card .number p span {
  font-size: 2rem;
  color: #00f1fe; }

.card .title p {
  font-size: 2rem;
  font-weight: bold;
  color: var(--gray-90);
  margin: 25px 0 0; }

.card:nth-child(4) svg circle:last-of-type {
  stroke: #f39c12; }

.card:nth-child(2) svg circle:last-of-type {
  stroke: #2ecc71; }

.card:nth-child(3) svg circle:last-of-type {
  stroke: red; }

.feature {
  max-width: 1140px;
  position: relative;
  color: var(--gray-150);
  text-align: start;
  margin-top: 5rem; }
  .feature > * {
    padding: 0.5rem 0.5rem; }
  .feature h2 {
    font-size: 2rem;
    z-index: 1;
    padding: 2rem; }
    .feature h2 span {
      font-size: 2rem;
      color: #01181a; }
  .feature .idel {
    margin: 0 1rem;
    padding: 2rem;
    font-size: 1rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    background-color: #f1f6f9;
    border-radius: 0 0 1rem 1rem; }
    .feature .idel-no, .feature .idel-yes {
      padding-top: 1rem;
      flex-grow: 1; }
    .feature .idel-yes {
      border-radius: 1rem 0 0 1rem; }
      .feature .idel-yes i {
        color: #1c9648;
        font-size: 1.5rem;
        margin-right: 1rem;
        background-color: #fff;
        padding: 0.5rem;
        border-radius: 2rem; }
    .feature .idel-no p {
      text-align: end; }
    .feature .idel-no i {
      color: #ff000877;
      font-size: 1.2rem;
      margin-left: 1rem;
      background-color: #fff;
      padding: 0.7rem;
      border-radius: 2rem; }
    .feature .idel-no li {
      text-align: end; }
    .feature .idel p {
      margin-bottom: 1rem; }
    .feature .idel li {
      margin: 1rem 3rem;
      padding: 1rem;
      list-style: none;
      background-color: transparent; }
  @media (max-width: 500px) {
    .feature .idel {
      flex-direction: column; } }
  .feature .detail_content {
    margin: 1rem 1rem;
    margin-bottom: 0;
    border-radius: 1rem 1rem 0 0;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    align-items: center;
    justify-content: center;
    background-color: #f1f6f9; }
    .feature .detail_content p {
      opacity: 0; }
    .feature .detail_content .pros {
      text-align: end; }
    .feature .detail_content svg {
      width: 19rem; }
    .feature .detail_content li {
      list-style: none;
      font-size: 1rem;
      color: var(--gray-50);
      font-weight: bold; }

.section_rating {
  background-color: #fff;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem; }
  .section_rating h2 {
    text-align: center; }

.note {
  margin: 0 3rem;
  color: var(--gray-10);
  font-size: 0.7rem; }
  .note i {
    font-size: 2rem;
    margin-right: 0.5rem;
    color: #ffd64f; }

.header h1 {
  font-weight: bold;
  padding: 1rem 3rem;
  padding-top: 3rem; }
  .header h1 .header-1 {
    position: absolute;
    top: 1rem;
    left: 0;
    color: var(--gray-100);
    padding: 0.5rem;
    padding-left: 5rem;
    font-size: 1rem;
    background-color: #0428f3;
    z-index: 9999;
    border: 1px solid var(--gray-100);
    border-left: 0; }
  .header h1 .header-2 {
    color: var(--gray-00);
    font-size: 2rem; }

.intro {
  width: 96%;
  background: linear-gradient(60deg, #0428f3 30%, rgba(210, 32, 32, 0.00230947) 60%), url(../img/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: end;
  max-width: 1140px;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem; }
  .intro .heading {
    padding: 5rem;
    font-size: 2rem;
    text-align: start;
    color: #00f1fe; }
  .intro .store {
    margin-left: 5rem; }
    .intro .store .shop {
      font-size: 1rem;
      color: var(--gray-60);
      margin-bottom: 1rem; }
    .intro .store p {
      margin-bottom: 2rem;
      display: inline-block;
      padding: 0.5rem;
      background: #ffd83b;
      border-radius: 2px 7px;
      font-size: 1.3rem; }
      .intro .store p a {
        color: var(--gray-00);
        text-decoration: none; }
        .intro .store p a i {
          margin-top: 5px;
          padding-right: 1rem; }

.overall {
  display: flex;
  align-items: center;
  justify-content: center; }
  .overall strong {
    padding-right: 2rem; }
  .overall p {
    color: var(--gray-40);
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold; }
  .overall_value {
    color: #000;
    font-size: 4rem; }

.ProgressBar {
  display: block;
  width: 30rem;
  height: 1.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 15px; }

.ProgressBar-background,
.ProgressBar-percentage {
  width: 60%;
  background: #000;
  height: 100%; }

.ProgressBar-background {
  opacity: 0.2;
  width: 100%; }

.ProgressBar-percentage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0; }

.showcase {
  background: var(--gray-00);
  padding-bottom: 2rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .showcase img {
    max-height: 5rem;
    max-width: 15rem; }

.use {
  max-width: 1140px;
  display: flex;
  align-items: center;
  margin: 4rem;
  color: aliceblue; }
  .use svg {
    position: absolute;
    opacity: 0.3;
    right: -50%; }
  .use .use_content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 3rem; }
    .use .use_content h2 {
      grid-column: 1/-1;
      color: var(--gray-70);
      font-weight: bold;
      font-size: 3rem; }
      .use .use_content h2 span {
        color: #00f1fe; }
    .use .use_content strong {
      grid-column: 1/2;
      grid-row: 2/3;
      font-size: 3.5rem;
      color: var(--gray-30); }
      .use .use_content strong span {
        color: #00f1fe; }
    .use .use_content img {
      background-repeat: no-repeat;
      height: 30rem;
      grid-column: 2/3;
      grid-row: 2/3;
      transform: translateY(-2rem); }
    .use .use_content .use_detail {
      grid-column: 1/-1;
      color: var(--gray-70);
      margin-right: 2rem;
      font-size: 2rem;
      line-height: 1.7; }
