// rating section
.detail_section {
  margin: 1rem;
  background-repeat: no-repeat;
  // height: 20rem;
  color: #555555;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f6fbff;
  min-width: 280px;
  height: 300px;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .card {
  }
}

.card .percent {
  position: relative;
}

.card svg {
  position: relative;
  width: 230px;
  height: 210px;
  transform: rotate(-90deg);
}

.card svg circle {
  width: 80%;
  height: 80%;
  fill: none;
  stroke: var(--gray-90);
  stroke-width: 2;
  stroke-linecap: round;
}

.card svg circle:last-of-type {
  stroke-dasharray: 625px;
  stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
  stroke: #3498db;
}

.card .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card .number p {
  font-weight: 200;
  font-size: 1rem;
}

.card .number p span {
  font-size: 2rem;
  color: #00f1fe;
}

.card .title p {
  font-size: 2rem;
  font-weight: bold;
  color: var(--gray-90);
  margin: 25px 0 0;
}

.card:nth-child(4) svg circle:last-of-type {
  stroke: #f39c12;
}

.card:nth-child(2) svg circle:last-of-type {
  stroke: #2ecc71;
}
.card:nth-child(3) svg circle:last-of-type {
  stroke: red;
}
