.feature {
  // height: 70rem;
  max-width: 1140px;
  position: relative;
  color: var(--gray-150);
  text-align: start;
  margin-top: 5rem;

  & > * {
    padding: 0.5rem 0.5rem;
  }
  h2 {
    font-size: 2rem;
    z-index: 1;
    padding: 2rem;
    span {
      font-size: 2rem;
      color: #01181a;
    }
  }
  .idel {
    margin: 0 1rem;
    padding: 2rem;
    font-size: 1rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    background-color: #f1f6f9;
    border-radius: 0 0 1rem 1rem;

    &-no,
    &-yes {
      padding-top: 1rem;
      flex-grow: 1;
    }

    &-yes {
      border-radius: 1rem 0 0 1rem;
      i {
        color: #1c9648;
        font-size: 1.5rem;
        margin-right: 1rem;
        background-color: #fff;
        padding: 0.5rem;
        border-radius: 2rem;
      }
    }
    &-no {
      p {
        text-align: end;
      }
      i {
        color: #ff000877;
        font-size: 1.2rem;
        margin-left: 1rem;
        background-color: #fff;
        padding: 0.7rem;
        border-radius: 2rem;
      }
      li {
        text-align: end;
      }
    }
    p {
      margin-bottom: 1rem;
    }

    li {
      margin: 1rem 3rem;
      padding: 1rem;
      list-style: none;
      background-color: transparent;
    }
  }
  @media (max-width: 500px) {
    .idel {
      flex-direction: column;
    }
  }
  .detail_content {
    margin: 1rem 1rem;
    margin-bottom: 0;
    border-radius: 1rem 1rem 0 0;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    align-items: center;
    justify-content: center;
    background-color: #f1f6f9;
    p {
      opacity: 0;
    }
    .pros {
      text-align: end;
    }

    svg {
      width: 19rem;
    }

    // .detail {
    //   font-size: 3rem;
    //   padding-bottom: 1rem;
    // }
    li {
      list-style: none;
      font-size: 1rem;
      color: var(--gray-50);
      font-weight: bold;
    }
  }
}
.section_rating {
  background-color: #fff;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  h2 {
    text-align: center;
  }
}
.note {
  margin: 0 3rem;
  color: var(--gray-10);
  font-size: 0.7rem;
  i {
    font-size: 2rem;
    margin-right: 0.5rem;
    color: #ffd64f;
  }
}
