.header {
  h1 {
    font-weight: bold;
    padding: 1rem 3rem;
    padding-top: 3rem;
    .header-1 {
      position: absolute;
      top: 1rem;
      left: 0;
      color: var(--gray-100);
      padding: 0.5rem;
      padding-left: 5rem;
      font-size: 1rem;
      background-color: #0428f3;
      z-index: 9999;
      border: 1px solid var(--gray-100);
      border-left: 0;
    }

    .header-2 {
      color: var(--gray-00);
      font-size: 2rem;
    }
  }
}

.intro {
  width: 96%;
  background: linear-gradient(
      60deg,
      #0428f3 30%,
      rgba(210, 32, 32, 0.002309468822170868) 60%
    ),
    url(../img/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: end;
  max-width: 1140px;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  .heading {
    padding: 5rem;
    font-size: 2rem;
    text-align: start;
    color: #00f1fe;
  }
  .store {
    margin-left: 5rem;

    .shop {
      font-size: 1rem;
      color: var(--gray-60);
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 2rem;
      display: inline-block;
      padding: 0.5rem;
      background: #ffd83b;
      border-radius: 2px 7px;
      font-size: 1.3rem;
      a {
        color: var(--gray-00);
        text-decoration: none;
        i {
          margin-top: 5px;
          padding-right: 1rem;
        }
      }
    }
  }
}
