.showcase {
  background: var(--gray-00);
  padding-bottom: 2rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  img {
    max-height: 5rem;
    max-width: 15rem;
  }
}
