.use {
  max-width: 1140px;
  display: flex;
  align-items: center;

  margin: 4rem;
  color: aliceblue;

  svg {
    position: absolute;
    opacity: 0.3;
    right: -50%;
  }
  .use_content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 3rem;
    h2 {
      grid-column: 1/-1;
      color: var(--gray-70);
      font-weight: bold;
      font-size: 3rem;
      span {
        color: #00f1fe;
      }
    }
    strong {
      grid-column: 1/2;
      grid-row: 2/3;
      font-size: 3.5rem;
      color: var(--gray-30);
      span {
        color: #00f1fe;
      }
    }
    img {
      background-repeat: no-repeat;
      height: 30rem;
      grid-column: 2/3;
      grid-row: 2/3;
      transform: translateY(-2rem);
    }
    .use_detail {
      grid-column: 1/-1;

      color: var(--gray-70);
      margin-right: 2rem;
      font-size: 2rem;
      line-height: 1.7;
    }
  }
}
