.use_section {
  flex-direction: column;
  display: flex;
  align-items: center;
  h2 {
    padding: 2rem;
    font-size: 1.7rem;
    text-align: center;
  }
}
.use {
  background-size: cover;
  min-height: 20rem;
  align-items: center;
  padding: 0.8rem;
  color: var(--gray-00);
  display: grid;
  max-width: 1140px;
  margin: 3rem 2rem;

  &-1 {
    grid-template-columns: 0.6fr 0.4fr;
    background-repeat: no-repeat;

    background: linear-gradient(
        80deg,
        rgba(246, 251, 255, 0.9) 58%,
        rgba(246, 251, 255, 0) 58%
      ),
      url(../img/2.jpg);
    .use_content {
      margin-right: 2rem;
    }
  }
  &-2 {
    grid-template-columns: 0.4fr 0.6fr;

    text-align: end;
    background: linear-gradient(
        100deg,
        rgba(246, 251, 255, 0) 37%,
        rgba(246, 251, 255, 0.9) 37%
      ),
      url(../img/work/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .use_content {
      grid-column: 2/3;
    }
  }
  &-3 {
    grid-template-columns: 0.6fr 0.4fr;
    background-repeat: no-repeat;

    background: linear-gradient(
        80deg,
        rgba(246, 251, 255, 0.9) 58%,
        rgba(246, 251, 255, 0) 58%
      ),
      url(../img/work/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .use_content {
      margin-right: 2rem;
    }
  }
  &-4 {
    grid-template-columns: 0.4fr 0.6fr;
    background-repeat: no-repeat;

    background: linear-gradient(
        100deg,
        rgba(246, 251, 255, 0) 37%,
        rgba(246, 251, 255, 0.9) 37%
      ),
      url(../img/work/2.jpg);
    text-align: end;
    margin-bottom: 2rem;
    .use_content {
      grid-column: 2/3;
      margin-left: 4.4rem;
    }
  }

  .use_content {
    h2 {
      color: var(--gray-30);
      font-weight: bold;
      font-size: 1.5rem;
      span {
        color: #00f1fe;
      }
    }
    strong {
      grid-column: 1/2;
      grid-row: 2/3;
      font-size: 1rem;
      color: var(--gray-10);
      span {
        color: #000;
        font-size: 1.5rem;
      }
    }

    .use_detail {
      grid-column: 1/-1;
      padding-top: 1rem;
      color: #000;

      font-size: 1rem;
      line-height: 1.7;
    }
  }
}
